# Logs
logs
*.log
npm-debug.log*

# Optional REPL history
.node_repl_history

# 0x
profile-*

# mac files
.DS_Store

# vscode
.vscode
*code-workspace

# clinic
profile*
*clinic*
*flamegraph*

# git
.git

node_modules