@import "photoswipe/dist/photoswipe.css";
@import "react-image-gallery/styles/css/image-gallery.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 70px;
  width: 100%;
}

.image-gallery-fullscreen-button {
  padding: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}

.image-gallery-thumbnail.active {
  border-color: #168c94;
}

.image-gallery-svg:hover {
  color: #168c94;
}

.pswp__button--arrow {
  margin-top: -250px;
  height: 500px;
}

.pswp__button--arrow:hover {
  background: #1b1b1c;
}

.profile {
  overflow: hidden;
  height: 160px;
  width: 160px;
  margin: 0 auto;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile__upload {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.profile__button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.profile:hover .profile__upload {
  transform: translatey(0);
}

@layer utilities {
  .scrollbar-white::-webkit-scrollbar {
    background: #ffffff;
    display: hidden;
    width: 0px;
  }
  .scrollbar-visible::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #a6a6a6;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  .scrollbar-visible::-webkit-scrollbar {
    width: 7px;
  }
}
